@charset "UTF-8";

:root{
    --cor0: #0000DE;
    --cor1: #F91807;
    --cor2: #600209;
    --cor3: #141414;
    --cor4: #011638;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

div#header{
    background-color: var(--cor3);
    padding: 20px;
}

header{
    max-width: 1200px;
    background-color: var(--cor3);
    margin: auto;
}

header > a > img{
    width: 200px;
}

div#laranja_line{
    background-color: var(--cor1);
    height: 5px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.274);
    margin-bottom: 40px;
}

nav{
    text-align: right;
    margin-top: 15px;
}

nav > a{
    padding: 15px 10px 0px 10px;
    color: var(--cor1);
    font-size: 16px;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 3px;
    padding: 8px 10px;
}

main{
    max-width: 1200px;
    margin: auto;
}

main > section.intro{
    margin: 15px 0px ;
}

h1{
    text-align: center;
    margin: 20px 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
    color: var(--cor3);
    font-size: 2em;
}

section.intro > p {
    text-align: center;
    line-height: 20px;
}

strong{
    color: var(--cor1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.158);
}

main > article {
    background-color: rgb(241, 241, 241);
    margin: 30px -500px;
    padding: 1px 0px 30px 0px ;
}

main > article > section{
    max-width: 1200px;
    margin: auto;
}

main > article > section > p{
    text-align: center;
    margin-bottom: 30px;
}