@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightcyan;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid gray;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
    background-color: blanchedalmond;
    color: blueviolet;
}

div:hover{
    background-color: greenyellow;
    color: black;
}